<header class="site-header">
  <div class="container nav-wrapper">
    <div class="logo-area">
      <img src="./images/logo.png" alt="CryptoDash Logo" class="logo">
      <span>CryptoDash<span class="logo-dot"></span></span>
    </div>


    <div class="header-right">
      <nav id="mainNav">
        <a href="./index.html">Dashboard</a>
        <a href="./about.html">About</a>
      </nav>
      <button id="themeToggle" title="Toggle theme"><i class="fa-regular fa-moon"></i></button>
      <button id="hamburger" aria-label="Toggle menu" aria-expanded="false">
        <span></span><span></span><span></span>
      </button>
    </div>
  </div>

  <div id="mobileNav" class="mobile-nav">
    <a href="./index.html">Dashboard</a>
    <a href="./about.html">About</a>
  </div>
</header>